<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="app" type="log4net.Appender.RollingFileAppender">
      <file value="E:\PhilippineGateway\Logs\SunGateway\MT.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="50MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <appender name="app2" type="log4net.Appender.RollingFileAppender">
      <file value="E:\PhilippineGateway\Logs\SunGateway\Error.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="50MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <appender name="app3" type="log4net.Appender.RollingFileAppender">
      <file value="E:\PhilippineGateway\Logs\SunGateway\Application.log" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date -  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="app" />
      <appender-ref ref="app2" />
      <appender-ref ref="app3" />
    </root>
  </log4net>
  <appSettings>
    <add key="inbox_queue" value="FormatName:DIRECT=TCP:192.168.63.10\private$\moinsert" />
    <add key="outbox_queue" value="FormatName:DIRECT=TCP:192.168.63.10\Private$\outboxinsert" />
    <add key="MODeath_queue" value=".\private$\smart_modeath" />
    <add key="MOForward_queue" value=".\private$\moforward" />
    <add key="gateway_queue" value=".\private$\sun_mt" />
    <add key="death_queue" value=".\private$\sun_mtdeath" />
    <add key="update_queue" value=".\private$\sun_update_outbox" />
    <add key="SERVER" value="smsc1.gw.sun.net.ph" />
    <add key="PORT" value="7777" />
    <add key="CSERVER" value="115.85.17.59" />
    <add key="CPORT" value="7777" />
    <add key="USERNAME" value="2488" />
    <add key="PASSWORD" value="laid2488" />
    <add key="ORIGINATOR" value="2488" />
    <add key="NormalFooterMsg" value=" Help? Text KEYWORD HELP to 2488 for free." />
    <add key="FriFooterMsg" value=" Quit? Text KEYWORD OFF to 2488 for free." />
    <add key="TELCOID" value="2" />
    <add key="db_default" value="premium_sms_db" />
    <add key="ConnectionString" value="Data Source=192.168.63.10;Initial Catalog=premiumsms;Persist Security Info=True;User ID=PremiumSMSMOSvc;Password=smsmo@0011" />
    <add key="mySqlConn" value="Server=119.81.44.205;Port=3307;Database=premium_sms_db;Uid=developer;Pwd=jfr3u9t;Convert Zero Datetime=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>