<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  
  <log4net>
    <appender name="update" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\EGG_SMPP\MOMT_Success.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline" />
      </layout>
    </appender>

    <appender name="fail" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\EGG_SMPP\MOMT_Error.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline" />
      </layout>
    </appender>

    <appender name="app" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\EGG_SMPP\APP_Log.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline" />
      </layout>
    </appender>

    <appender name="app2" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\EGG_SMPP\DNReceive.txt" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />
      <rollingStyle value="Date" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="update" />
      <appender-ref ref="fail" />
      <appender-ref ref="app" />
      <appender-ref ref="app2" />
    </root>
  </log4net>
  
  
  <appSettings>
    <add key="sys_id" value="smppclient"/>
    <add key="sys_pass" value="password"/>
    <add key="sys_host" value="localhost"/>
    <add key="sys_port" value="2779"/>

    <!--add key="sys_id" value="Ionnex"/>
    <add key="sys_pass" value="ui189a12"/>
    <add key="sys_host" value="83.96.144.205"/>
    <add key="sys_port" value="9000"/-->    
    <add key="sys_type" value="CMT"/>
    <add key="sys_addr_ton" value="0"/>
    <add key="sys_addr_npi" value="1"/>
    <add key="sys_con_mode" value="2"/><!--0 transmitter,1 receiver, 2 transmitter-->
    <add key="sys_timeout_interval" value="60000"/>
    <add key="sys_enquiry_interval" value="60"/>
    <add key="src_npi" value="1"/>
    <add key="src_ton" value="1"/>
    <add key="dest_npi" value="1"/>
    <add key="dest_ton" value="1"/>
    <add key="priority" value="3"/>
    <add key="maxthread" value="20"/>
    <add key="smpp_smsc" value="EGG SMPP"/>
    <add key="telcoid" value="3"/>
    <add key="RetryCount" value="5"/>
 
    <add key="gateway_queue" value=".\Private$\smppmt"/>
    <add key="death_queue" value=".\Private$\smppdeath"/>
    <add key="outbox_queue" value=".\Private$\smppoutbox"/>
    <add key="dn_queue" value=".\Private$\smppdn"/>
    <add key="mo_queue" value=".\Private$\smppmo"/>


    
    <!-- for email sending function -->
    <add key="email_id" value="donotreply@ionnex.com"/>
    <add key="email_password" value="go1234"/>
    <add key="email_to" value="yongsing.lai@ionnex.com"/> 
    <add key="email_subject" value="SMPP CLient Error"/>
    <add key="email_message1" value="Greetings..."/>
    <add key="config_smtpserver" value="smtp.gmail.com"/>
    <add key="config_smtpserverport" value="465"/>
    <add key="config_sendusing" value="2"/>
    <add key="config_smtpauthenticate" value="1"/>
    <add key="config_smtpusessl" value="true"/>

    <!-- for sms sending function -->
    <add key="url_str" value="http://gateway.ionnex.com:8001/sendbulk.aspx"/>
    <add key="phone_to" value="60126917898"/>
    <!--0122007112 0126330830, 0192423060-->
    <add key="username" value="postpaid"/>
    <add key="password" value="I0nNex81o3"/>
    
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMO" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52179/contract/ConMO.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMO"
      contract="ConMO.IMO" name="BasicHttpBinding_IMO" />
    </client>
  </system.serviceModel>
</configuration>
<!-- connection mode : 0-transmitter, 1-receiver, 2-transceiver -->